.container{
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1C7293;
}

form{
    width: 470px;
    height: 340px;
    background-color: #1C7293;
    display: flex;
    flex-direction: column;
}

textarea{
    width: 100%;
    height: 278px;
    
}