<p>Signup works!</p>
<form [formGroup]="formSignup" (ngSubmit)="onSubmit()">
  <div>
     <label for="username">Username:</label>
    <input id="username" formControlName="username" type="text" />
  </div>
  <div>
    <label for="password">Password:</label>
    <input id="password" formControlName="password" type="password" />
  </div>
  <div>
    <label for="email">Email:</label>
    <input id="email" formControlName="email" type="email" />
  </div>
  <div>
    <label for="phoneNumber">Phone Number:</label>
    <input id="phoneNumber" formControlName="phoneNumber" type="text" />
  </div>
  <button type="submit" [disabled]="formSignup.invalid">Signup</button>
</form>
