
<!-- <app-add-contact></app-add-contact> -->
<!-- <app-get-reservation-by-id></app-get-reservation-by-id> -->
 <!-- <app-singup></app-singup> -->
<!-- <app-event></app-event> -->

<div class="container">

    <div class="nav">
        <img id="logo" src="../../../assets/images/logo.png" alt="logo">
        <button class="btn">Log out</button>
    </div>
    <div></div>
    <div class="app-search">
        <app-search></app-search>
    </div>
    <div></div>
    <div>
        <app-event></app-event>
    </div>

    <div class="line"></div>
    <div>
        <app-add-contact></app-add-contact>
    </div>
</div>