<div class="main">
  <div class="main-wrapper">
    <div class="nav">
      <div class="img-nav">
        <img id="logo" src="../../../assets/images/logowhite.png" alt="logo" />
      </div>
      <div class="logout">
        <a routerLink="" (click)="logout(true)"><img src="../../../assets/icons/logout.png" alt=""> Logout</a>
      </div>
    </div>

    <div class="hero">
        <div class="hero-main">
           <app-event></app-event>
        </div>
    </div>
  </div>
</div>

<!-- <div class="app-search">
    <app-search></app-search>
  </div>

  <div>
    <app-event></app-event>
  </div>

  <div class="line"></div>
  <div>
    <app-add-contact></app-add-contact>
  </div> -->