<div class="main">
    <div class="main-wrapper">
        <div class="menu">
            <div class="logo">
                <img src="../../../assets/images/logowhite.png" alt="logo">
              </div>
              <div class="username">
                <h1>ADMIN</h1>
              </div>
              <div class="menu-link">
                <a routerLink="/#" id="a1"><img src="../../../assets/icons/event.png" alt="">Events</a>
                <a routerLink="/#"><img src="../../../assets/icons/reserved.png" alt=""> Reservations</a>
                <a routerLink="/#"><img src="../../../assets/icons/statistics.png" alt=""> Statistis</a>
                <a routerLink="/#"><img src="../../../assets/icons/accountant.png" alt=""> Accounts</a>
                <a routerLink="/#"><img src="../../../assets/icons/setting.png" alt=""> Settings</a>
              </div>
              <app-logout></app-logout>
        </div>



<!--   ---------------    -->
<!--                      -->
        <div class="hero-main">
            <div class="hero-main-wrapper">
              <div class="header-hero-main">
                <h1>DASHBOARD</h1>
              </div>

              <div class="body-hero-main">
                  <div class="body-hero-main-left">
                    <div class="reservation">
                        <app-show-reservation></app-show-reservation>
                    </div>
                  </div>
              </div>
            </div>
        </div>
    </div>
</div>