!<div class="header">
    <div class="header-img">
        <img src="../../../assets/images/logo.png" alt="logo">
    </div>
    <div class="btns animate__animated animate__fadeInUp animate__delay-2s">
        <button id="login" (click)="onOpenOrClose(true)">Login</button>
        <button id="signup">Signup</button>
    </div>
</div>
<section class="popup" [ngStyle]="{'display': check ? 'flex' : 'none'}">
    <button (click)="onOpenOrClose(false)">Close</button>
        <app-login></app-login>
</section>