<div class="container">
    <div class="main">
        <app-header-home></app-header-home>
        <div class="hero-main">
            <div class="left">
                <div class="left-bottom animate__animated animate__zoomInDown animate__delay-1s">
                    <h1>PARTY</h1>
                </div>
            </div>
            <div class="right">
                <h1 class="h1">Here you will <em class="animate__animated animate__bounceIn animate__delay-1s">find </em> all the world <em class="animate__animated animate__bounceIn animate__delay-1s">events</em>,</h1>
                <h2>including music and football</h2>
                <p>so you can find what suits you.</p>
                <a routerLink="">BUY TICKETS</a>
            </div>
        </div>
    </div>
</div>
