.container{
    width: 100%;
    height: 100vh;
    background: url("../../../assets/images/helloevents.png") no-repeat top right/cover;
}
.main{
    width: 60%;
    height: 70%;
    border: 10px solid black;
    background-image: url("../../../assets/images/téléchargemen.jpeg");
    background-size: cover;
    margin: 0 auto;
    border-radius: 10px;
}