<div class="container">
    <div class="main">
        <app-header-home></app-header-home>
        <div class="hero-main">
            <div class="left">
                <div class="left-bottom">
                    <h1>PARTY</h1>
                </div>
            </div>
            <div class="right">
                <h1 class="h1">Here you will <em>find </em> all the world <em>events</em>,</h1>
                <h2>including music and football</h2>
                <p>so you can find what suits you.</p>
            </div>
        </div>
    </div>
</div>
