<!-- <p>event works!</p>
<div>
  <h2>Upcoming Events</h2>
  <ul>
    <li *ngFor="let event of listEvents">
      <h3>{{ event.name }}</h3>
      <p>{{ event.description }}</p>
      <p><strong>Location:</strong> {{ event.location }}</p>
      <p><strong>Date:</strong> {{ event.date }}</p>
      <p><strong>Time:</strong> {{ event.startTime }}</p>
      <p><strong>Price:</strong> {{ event.price | currency }}</p>
    </li>
  </ul>
</div> -->

<body class="first-container">
  <div class="container">
      <div class="card"  *ngFor="let event of listEvents">
          <div class="face face1">
            <img class="img" src="https://th.bing.com/th/id/OIP.gOlNpFyzOpgs03pR_ql2_wHaGz?w=500&h=459&rs=1&pid=ImgDetMain">
              <div class="content">
                  <h3>{{ event.name }}</h3>
              </div>
          </div>
          <div class="face face2">
              <div class="content">
                <p>{{ event.description }}</p>
              <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident at.</p> -->
             <p><strong>Location:</strong> {{ event.location }}</p>
              <p><strong>Date:</strong> {{ event.date }}</p>
              <p><strong>Time:</strong> {{ event.startTime }}</p>
              <p><strong>Price:</strong> {{ event.price | currency }}</p> 
              <a href="#">buy ticket</a>
              </div>
          </div>
      </div>
      
  </div>
</body>
