.search{
    width: 100%;
    background: rgba(78, 78, 78, 0.468);
    backdrop-filter: blur(10px);
    padding: 10px;
    border-radius: 12px; 
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.486);
}
.search > form {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.group-search{
    display: flex;
    border: 1px solid grey;
    border-radius: 6px;
}
.group-search > label{
    padding: 8px;
    color: white;
    font-size: 14px ;
    font-weight: 700;
}
.group-search > input{
    background: transparent;
    padding: 8px;
    color: white;
    border: none;
    border-left: 1px solid grey;
}
.group-search > input::placeholder{
    color: white;
}
.group-search  > button{
    background: transparent;
    padding: 8px;
    color: white;
    border: 1px solid grey;
    border-radius: 7px;
}

.container{
    width: 90%;
    max-height: 360px;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    overflow-y: auto;
}
.card{
    flex-wrap: 1 24%;
    width: 24%;
    background: #fafafa67;
    backdrop-filter: blur(5px);
    margin: 5px 3px;
    border-radius: 7px;
}
.face{
    width: 100%;
}
.content{
    padding: 10px;
}
.content > p {
    color: white;
    font-size: 16px;

}
#addres{
    padding: 5px;
    border: 1px solid black;
    background: transparent;
    border-radius: 5px;
    color: black;
    font-weight: 700;
    transition: .4s;
}
#addres:hover{
    background: black;
    color: white;
}