
<div class="search">
  <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
    <div class="group-search">
      <label for="date">Date:</label>
      <input class="input" id="date" formControlName="date" type="date">
    </div>
    <div class="group-search">
      <label for="location">Location:</label>
      <input class="input" id="location" formControlName="location" type="text" placeholder="Location">
    </div>
    <div class="group-search">
      <label for="category">Category:</label>
      <input class="input" id="category" formControlName="category" type="text" placeholder="category">
    </div>
    <div class="group-search">
      <button class="submit" type="submit">Search</button>
    </div>
  </form>
</div>

<!-- <div class="content">
  <h3>{{ event.name }}</h3>
</div> -->

<div class="container">
  <div class="card" *ngFor="let event of listEvents">
    <div class="face">
      <img class="img" src="../../../assets/images/Event-design.jpg" width="100%">
    </div>
      <div class="content">
        <p>{{ event.description }}</p>
        <p>{{ event.location }}</p>
        <p>{{ event.price | currency }}</p>
        <button id="addres" (click)="onSub(event.id)">buy ticket</button>
    </div>
  </div>
</div>